<html>
  <head>
    
  </head>
  <body>
    <h1>Albums</h1>
    <% @albums.each do |album| %>
      <div>
        Title: <%= album.title %> <br>
        Release: <%= album.release_year %><br>
        <a href="/album/<%= album.id %>">Link</a>
      </div>
    <% end %>
  </body>
</html>
